parameters:
  bootstrapFiles:
        - Build/phpstan-bootstrap.php
  level: 5
  paths:
    - "Classes/"

  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false

includes:
    - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon
    - phpstan-baseline.neon
