<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bzga="http://typo3.org/ns/Bzga/BzgaBeratungsstellensuche/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <bzga:title>{entry.title}</bzga:title>
    <h1>{entry.title}</h1>
    <f:if condition="{entry.subtitle}">
        <span class="text-muted">{entry.subtitle}</span><br>
    </f:if>
    <f:if condition="{entry.teaser}">
        <p>
            <f:format.nl2br>{entry.teaser}</f:format.nl2br>
        </p>
    </f:if>
    <f:if condition="{entry.image}">
        <f:then>
            <div class="media">
                <div class="media-left">
                    <f:image class="media-object" image="{entry.image}"/>
                </div>
                <div class="media-body">
                    <f:render partial="Entry/Address" arguments="{_all}"/>
                </div>
            </div>
        </f:then>
        <f:else>
            <f:render partial="Entry/Address" arguments="{_all}"/>
        </f:else>
    </f:if>
    <hr />
    <f:if condition="{entry.notice}">
        <h3><f:translate key="notice" /></h3>
        <f:format.html>{entry.notice}</f:format.html>
        <hr />
    </f:if>
    <f:if condition="{entry.description}">
        <h3><f:translate key="description" /></h3>
        <f:format.html>{entry.description}</f:format.html>
        <hr />
    </f:if>
    <f:if condition="{entry.categories}">
        <h3><f:translate key="categories" /></h3>
        <bzga:implode glue=", ">{entry.categories}</bzga:implode>
        <hr />
    </f:if>
    <bzga:widget.map demand="{demand}" entry="{entry}" settings="{settings}"/>
</f:section>
