<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bzga="http://typo3.org/ns/Bzga/BzgaBeratungsstellensuche/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div class="form-box">
<f:form pageUid="{settings.listPid}" method="post" noCacheHash="TRUE" controller="Entry" action="list" name="demand"
        object="{demand}">
    <f:for each="{bzga:explode(subject: settings.formFields)}" as="formField">
        <f:render partial="Entry/FormFields/{formField -> bzga:format.uppercaseFirstLetter()}" arguments="{_all}"/>
    </f:for>
    <f:render partial="Entry/FormFields/Submit" arguments="{_all}"/>
    <f:render partial="Entry/FormFields/Reset" arguments="{_all}"/>
</f:form>
</div>
</html>
